/* Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
/*   font-family: "Roboto", sans-serif; */
  background-color: #f2f4f8;
  overflow-x: hidden; }

img {
  height: auto;
  max-width: 100%; }

.classy-nav-container {
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}
  .classy-nav-container * {
    box-sizing: border-box; }
  .classy-nav-container a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    display: inline-block; }
    .classy-nav-container a:hover, .classy-nav-container a:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: none;
      font-size: 14px;
      font-weight: 400;
      color: #1abc9c; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.classy-navbar {
  width: 100%;
  height: 70px;
  padding: 0.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }


.classynav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10; }
  .classynav ul li ul li {
    display: block; }
    .classynav ul li ul li a {
      border-bottom: 1px solid rgba(242, 244, 248, 0.5);
      padding: 0 20px; }
  .classynav ul li a {
    padding: 0 12px;
    display: block;
    height: 35px;
    font-size: 14px;
    line-height: 34px; }

/* navbarToggler start */
.classy-navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none; }
  .classy-navbar-toggler .navbarToggler {
    display: inline-block;
    cursor: pointer; }
    .classy-navbar-toggler .navbarToggler span {
      position: relative;
      background-color: #858585;
      border-radius: 3px;
      display: block;
      height: 3px;
      margin-top: 5px;
      padding: 0;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      width: 30px;
      cursor: pointer; }
    .classy-navbar-toggler .navbarToggler.active span:nth-of-type(1) {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      top: 8px; }
    .classy-navbar-toggler .navbarToggler.active span:nth-of-type(2) {
      opacity: 0; }
    .classy-navbar-toggler .navbarToggler.active span:nth-of-type(3) {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
      top: -8px; }


/* Desktop Area CSS */
.breakpoint-off .classynav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

/* Fallback Responsive CSS */
@media only screen and (max-width: 991px) {

  .classy-navbar-toggler {
    display: block; }

  .classy-navbar .classy-menu {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: -310px;
    z-index: 1000;
    width: 240px;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-x: hidden;
}
    .classy-navbar .classy-menu.menu-on {
      left: 0; }
  .classynav ul {
    width: 100%;
    padding: 5px;
  }
  .classynav ul li {
    display: block;
    position: relative;
    clear: both;
    z-index: 10; }
    .classynav ul li a {
      padding: 0 10px;
      height: 38px;
      line-height: 38px; }
  .classynav {
    padding-top: 70px; }
  .classynav > ul > li > a {
    background-color: #f2f4f8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .classy-btn {
    width: calc(100% - 30px);
    margin: 30px 15px; }

 }